body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font: 100% / 1.5 "Open Sans", Helvetica, Arial, sans-serif;
    color: rgb(29, 29, 29);
    margin: 0;
    border: 0;
}
h1 {
    margin: 0;
    margin-top: 45vh;
   
}
span.bold {
    font-weight: bold;
}
p {
    margin: 0;
    margin-top: 1rem;
    font-weight: lighter;
}

